.vs
bin
*.vcxproj
DevGround/DevGround.vcxproj.filters
*.user
*.filters
*.sln
bin-int/Debug-x64/Hazel/Hazel.tlog
bin-int/Debug-x64/DevGround/DevGround.tlog
bin-int/Debug-x64/Hazel/Hazel.dll.recipe
bin-int/Debug-x64/Hazel/Hazel.ilk
bin-int/Debug-x64/Hazel/Hazel.log
bin-int/Debug-x64/Hazel/Test.obj
bin-int/Debug-x64/Hazel/vc143.idb
bin-int/Debug-x64/Hazel/vc143.pdb
bin-int/Debug-x64/DevGround/Application.obj
*.recipe
*.ilk
*.log
*.idb
*.pdb
*.obj
bin-int
x64
DevGround/imgui.ini

*.json
Hazel-Nut/imgui.ini
*.hazel
scripts/__pycache__
Hazel/vendors/VulkanSDK
Hazelnut/assets/cache
Hazel/vendor/VulkanSDK
Roadmap.txt
Hazelnut/imgui.ini
packages
Test/packages.config
Sample-Test2
Sample-Test1